/* Stylechanger css
------------------------------------*/

.stylechanger {
	font-size: 0.9em;
}

.stylechanger.badge {
	float: none;
	top: -1px;
	margin-left: 0;
	padding: 0px 0px 0px 4px;
}

.stylechanger-img {
	background-image: url("./images/style-c.png");
	background-position: 3px 1px;
	width: 16px;
	height: 16px;
	background-size: 14px;
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
}
